.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 170px;
    height: 40px;
    justify-content: right;
    margin-left: 1150px;
    justify-content: space-between;
}
.body {
    display: flex;
    flex-direction: column;
}

.app-logo {
    width: 25px;
}
.picture {
    height: 25px;
    border-radius: 25px;
    margin-left: 10px;
}
.left-header {
    display: flex;
    flex-direction: row;
}
.google {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}
.mid-section {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    
    
}
.search {
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 25px;
    padding-left: 45px;
    border-style: solid;
    border-color: grey;
    border-width: 0.5px;
    z-index: 1;
}
.box {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    border-radius: 20px;
    
   
}
.search-logo {
    width: 15px;
    height: 15px;
    position: absolute;
    cursor: pointer;
    margin-left: 10px;
    background-color: white;
    border-style: solid;
    border-color: white;
   z-index: 2;
   }
.box:hover {
    background-color: grey;
    box-shadow: 5px 5px 5px rgb(236, 229, 229);
}   
/*click vao search-logo nhung ko hien thi tren thanh bar*/

.search-logo:hover {
    width: 18px;
    height: 18px;
}
.voice-logo {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 10px;
    z-index: 3;
    cursor: pointer;
    
}
.voice-logo:hover {
    width: 28px;
    height: 28px;  
}
.bot-section {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 60px;
    width: 512px;
    
}
.gg1 , .gg2 {
    padding: 8px 12px;
    margin-left: 15px;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 0.8px rgb(221, 218, 218);
}
.gg1:hover , .gg2:hover {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(212, 208, 208);
}